/jserver/target/
/logs/
*.exe
*.cpp
config.properties
kkeywords.txt
/QSManager/src/test/
/tmp/
/QSManager/
config.yml
/userdata/
/webapp/logs
/webapp/__pycache__
keywords.txt
.idea/fastRequest/fastRequestCurrentProjectLocalConfig.xml
*.pyc
/jserver/logs/
*.log
/migrations/
*.properties
temp/
