<?xml version="1.0" encoding="UTF-8" ?>
<configuration status="OFF" monitorInterval="25">
    <properties>
        <property name="LOG_HOME">logs</property>
    </properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="[%d{yyyy-mm-dd HH:mm:ss.SSS}] [%t/%highlight{%-5level}{ERROR=Bright RED, WARN=Bright Yellow, INFO=Bright Green, DEBUG=Bright Cyan, TRACE=Bright White}] [%style{%c{1.}}{cyan}]%replace{ [%X{client}]}{ \[\]}{} %m%n"
                    disableAnsi="false"/>
        </Console>
        <RollingFile name="rollingFile" fileName="${LOG_HOME}/log.log"
                     filePattern="${LOG_HOME}/$${date:yyyy-MM-dd}/log-%d{yyyy-MM-dd}-%i.log">
            <ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="DENY" />
            <PatternLayout pattern="[%d{HH:mm:ss.SSS}] [%t/{%-5level}] [{%c}] [client=%X{client}] %m%n"/>
            <Policies>
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="2MB" />
                <TimeBasedTriggeringPolicy />
            </Policies>
            <DefaultRolloverStrategy max="10" />
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="trace">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="rollingFile" />
        </Root>
    </Loggers>
</configuration>
