<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="OFF" monitorInterval="30">

    <Properties>
        <Property name="LOG_HOME">logs</Property>
    </Properties>

    <Appenders>

        <Console name="Console" target="SYSTEM_OUT" immediateFlush="true">
            <PatternLayout disableAnsi="false" pattern="[%d{YYYY-MM-DD HH:mm:ss.SSS}/%style{%t}{magenta}] [%style{%c{1.}}{cyan}/%highlight{%-5level}{ERROR=Bright Red, WARN=Bright Yellow, INFO=Bright Green, DEBUG=Bright Cyan}]%replace{ [%X{client}]}{ \[\]}{} %msg%n"/>
        </Console>

        <Async name="AsyncFile">
            <RollingFile name="RollingFile" fileName="${LOG_HOME}/latest.log" filePattern="${LOG_HOME}/%d{yyyy-MM-dd}/judge-%i.log.gz" immediateFlush="true" append="true">
                <PatternLayout pattern="[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%-5level] [%t] [%c{1.}] [%X{client}] %msg%n"/>
                <Policies>
                    <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                    <SizeBasedTriggeringPolicy size="20MB"/>
                </Policies>
                <DefaultRolloverStrategy max="30" fileIndex="min"/>
            </RollingFile>
        </Async>

    </Appenders>

    <Loggers>
        <Root level="debug">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="AsyncFile"/>
        </Root>
    </Loggers>

</Configuration>
